@import "taro-ui-vue3/dist/style/components/button.scss";

.detail-page-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
}

.swiper-card {
  border-radius: 16px;
  margin: 20px 20px;
  padding: 20px;
  overflow: hidden;
}

.details-slide-image{
  object-fit: fill;
  width: 100%;
  height: 400px;
}

.desc-card{
  border-radius: 20px;
  margin: 20px 20px;
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.house-card {
  margin: 16px 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 200px;
  box-shadow: inset;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.house-card:hover {
  transform: translateY(-2px);
  box-shadow: inset;
}

.house-card-img {
  object-fit: fill;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 70%;
  background-color: whitesmoke;
}

.details-title {
  align-self: first baseline;
}

.tag-list {
  display: flex;
  gap: 10px;
}

.tag {
  background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
  border-radius: 10px;
  padding: 4px 4px;
}

.price-and-button {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.price{
  color: red
}